# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
*.out
*.err

# Test coverage
.coverage
*.cover
coverage.xml

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Ignore data files
data/
!data/.gitkeep
